.searchbar-container {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000; /* Dark background color */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 1150px; /* Adjust maximum width */
  background-color: #333; /* Darker background color */
  color: #fff; /* Text color */
  outline: none; /* Remove input outline */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

input[type="text"]::placeholder {
  color: #ccc; /* Placeholder text color */
}

input[type="text"]:focus {
  background-color: #444; /* Darker background color on focus */
}

button {
  padding: 10px 20px;
  background-color: orange; /* Change button color to orange */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

button:hover {
  background-color: #ff7f00; /* Darker orange on hover */
}

.movie-list {
  position: absolute;
  top: calc(100% + 10px); /* Position below the search bar with additional space */
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 10px 10px; /* Rounded bottom corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 998;
  transition: background-color 0.3s ease;
  background-color: #000; /* Dark background color */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.movie-list li {
  padding: 10px;
  cursor: pointer;
  background-color: #333; /* Darker background color */
  color: #fff; /* Text color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.movie-list li:hover {
  background-color: #444; /* Darker background color on hover */
}
